
<ul>
  <% comments.each do |comment| %>
    <% if comment.id.present? %>
      <li>
      
    
      <p><%= comment.picture.event.user.name %></p>
        <p><%= comment.content %></p>
      </li>

  
      <%= link_to 'コメントを編集する', "#{picture.id}/comments/#{comment.id}/edit", remote: true, class: "btn btn-lg btn-primary" %>
      <%= link_to '削除', "#{picture.id}/comments/#{comment.id}", method: :delete, remote: true, class: "btn btn-lg btn-primary" %>


      <div id="comment-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
    <% end %>
  <% end %>
</ul>