<body>
<div class="user">
<p id="notice"><%= notice %></p>

<h1>あなたの情報</h1>
<p>名前 : <%= @user.name %></p>
<p>メールアドレス : <%= @user.email %></p>

<%= link_to 'プロフィール変更', edit_user_registration_path(@user), class: "btn btn-lg btn-primary"  %>
</div>

</body>