<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Agency - Start Bootstrap Theme</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">



</head>

<body id="page-top">
<div class="page-top-gradation">
  <header class="masthead">
    <div class="container">
      <div class="intro-text">
        <div class="intro-lead-in">Application</div>
        <div class="intro-heading text-uppercase">CODOMO scheduler</div>
        <div class="sign_button sign_up_button">CHECK IN</div>
        <div class="sign_button sign_in_button">LOG IN</div>
      </div>
    </div>
  </header>


<div class="sign_modal_wrapper"></div>

<div class="sign_modal">
  <div class="sign_up_modal sign_modal_content">
  <h5 class="modal-title">新規登録</h5>
    <form class="new_user"action="/users" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="0vopqXSAxej0lk4KKOWG+YUcG2s5X+btIeQBKegvkob1KNqBEYUcJjZXNJ9bYJDpL+8AncJ0uHNFA4luEVFTAg==">
   
    <div class="field">
    <label for="user_name">名前</label><br>
    <input autofocus="autofocus" autocomplete="name" type="name" value="" name="user[name]">
    </div>

    <div class="field">
        <label for="user_email">メールアドレス</label><br>
        <input autofocus="autofocus" autocomplete="email" type="email" value="" name="user[email]">
      </div>

      <div class="field">
        <label for="user_password">パスワード</label>
        <em>(6 文字以上)</em>
        <br>
        <input autocomplete="new-password" type="password" name="user[password]" aria-autocomplete="list">
      </div>

      <div class="field">
        <label for="user_password_confirmation">パスワード（確認）</label><br>
        <input autocomplete="new-password" type="password" name="user[password_confirmation]">
      </div>

      <div class="actions">
        <input type="submit" name="commit" value="Sign up" data-disable-with="Sign up">
      </div>
    </form>
  </div>





  <div class="sign_in_modal sign_modal_content">
    <h5 class="modal-title">ログイン</h5>
    <form class="new_user" action="/users/sign_in" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="oHLlAj0JDR0syLFJq8pvBZgP3Tf2VBOuOl5VCtX7PkCHoBYqWAzU0+4Jy9zYT3kVMvzGwQ1/TTBeud1NLIX/xA==">
      <div class="field">
        <label for="user_email">メールアドレス</label><br>
        <input autofocus="autofocus" autocomplete="email" type="email" value="" name="user[email]">
      </div>

      <div class="field">
        <label for="user_password">パスワード</label><br>
        <input autocomplete="current-password" type="password" name="user[password]">
      </div>

      <div class="field">
        <input name="user[remember_me]" type="hidden" value="0"><input type="checkbox" value="1" name="user[remember_me]">
        <label for="user_remember_me">Remember me</label>
      </div>

      <p>テストユーザー：test@gmail.com　パス：123456</p>

      <div class="actions">
        <input type="submit" name="commit" value="Log in" data-disable-with="Log in">
      </div>
    </form>
  </div>
</div>

</div>
</body>
</html>