
<body>
<div class="picture_show">
<header>
<h1>New Picture</h1>
<%= link_to '一覧に戻る', event_path(@picture.event_id) ,class: 'btn-square-so-pop3'%><br>

</header>
<%= render 'form', picture: @picture %>
</div>
</body>
