/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require font-awesome
 *= require fullcalendar
 */
 @import "bootstrap";


 #calendar{
    text-align: center;
    width:700px;
    height: 700px;
 }
 
 .sign_button {
   display: inline-block;
   cursor: pointer;
   border: 2px solid black;
   padding: 5px;
   opacity: .6;
   transition: .3s;
 }
 
 .button:hover {
   opacity: 1;
 }
 
 .sign_up_button {
   margin-right: 30px;
 }

 .sign_modal_wrapper {
   position: fixed;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   background-color: black;
   opacity: .7;
   display: none;
 }

 .sign_modal {
   position: absolute;
   background-color: #fff;
   width: 450px;
   height: 350px;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   margin: 100px auto 0;
   border: 1px solid #eee;
   display: none;
   text-align: right;
 }
 
 .sign_modal_content {
   display: none;
   text-align: center;
 }

 .fa_wrapper {
   cursor: pointer;
   margin: 3px 3px 0 0;
 }








 #img_field {
  font-size: 15px;
  margin-top: 10px;
  padding: 5px 8px;
  border: solid 1px #EDBC6C;
  color: #666;
  position: relative;
  padding: 0;
  border-radius: 5px;
  cursor: pointer;
  width: 400px;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fff;
  overflow: hidden;
  box-sizing: border-box;
  transition: 0.3s ease-out;
}
 
#img_field i {
  font-size: 100px;
  color: #aaa;
  line-height: 250px;
  transition: 0.3s ease-out;
}
 
#img_field i.add {
  display: none;
  font-size: 50px;
  position: absolute;
  top: -90px;
  right: 15px;
}
 
#img_field:hover {
  background-color: #EDBC6C;
  transition: 0.3s ease-out;
  opacity: 0.9;
}
 
#img_field:hover i {
  transition: 0.3s ease-out;
  display: block;
  color: #fff;
}